<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		
	<add name="OnlineExamEntities" connectionString="metadata=res://*/DBContext.Model1.csdl|res://*/DBContext.Model1.ssdl|res://*/DBContext.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-686H1T8\SQLEXPRESS;initial catalog=OnlineExam;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
   
</configuration>